*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.heading-2{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom,#c5c6c7);
  padding:15px;
}
.heading-2 h2{
  color:#000000;
}
.main-content{
  height: 100vh;
  background:linear-gradient(to bottom,#2d283e 18%,#292438 26%,#191621 45%,#000000 96%);
  
}
h2{
  color:whitesmoke;
}
.moving-icon{
  position: relative;
}
.display-effect, .links{
  position: absolute;
  left:-300px;
}
.display-1{
  opacity: 1;
  transition:opacity 0.7s ease;
}
.display-2{
  opacity: 1;
  transition: transform 1.2s ease, opacity 2s ease;
  transform: scale(.75);
  
}
.moving-icon:hover .display-2{
  opacity: 0;
  transform: translateX(70px);
  
}
.moving-icon:hover .display-1{
  opacity:0;
}
.moving-icon:hover .links {
  opacity: 1; 
  transition-delay: 0.5s;
  transition: opacity 1.5s ease-in, opacity 0.4 ease-out;
}
.links {
  display: flex;
  gap:25px;
  font-size: x-large;
  font-weight: bold;
  padding-top:4px;
  margin-right:45px;
  opacity: 0;
  transform: translateX(-86px);
  
}
.links a{
  text-decoration:none;
  color:whitesmoke;
  border-radius: 13px;
}
.links a.active{
  text-decoration: underline;
}
.links a:hover{
 color:rgb(173, 173, 173);
}

.display-effect {
  display: flex;
  margin-right: 60px;
}
.moving-icon h2{
  padding-top:4px;
}
body{
  min-height: 100vh;
  background: linear-gradient(to bottom,#c5c6c7 16%,#999a9b 25%,#646667 45%,#565858 79%);
}
.bio{
  text-align: center;
  width: 455px;
  margin-left: 40%;
  margin-top:100px;
  font-family:cursive;
  
}
span{
  font-size: 40px;
  font-family:Impact;
}
h3{
  padding-top:5px;
  font-family:cursive;
}
.icons{
  display: flex;
  gap:20px;
  transition: transform 0.3s ease;
}
.icons a:hover{
  transform: scale(1.2);
}
.contact{
  margin-left: 45.5%;
  padding-top:2%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size:28px;
}
.contact-form{
  margin-left:46%;
  margin-top:2%;
  display: flex;
  gap:10px;
  background-color: #aaaeb4;
  position: absolute;
  padding:7px;
  border-radius: 10px;
}
.button{
  border-radius: 15px;
  padding:5px;
  background-color: #a7a8a8;
  border:none;
}
.button:hover{
  background-color: #c5c6c7;
}
.button.clicked{
  background-color: #c5c6c7;
}
.message-promt{
  border-radius: 3px;
  border:none;
}
.contact-promt{
  padding-left: 40%;
  text-align: center;
  padding-top:5%;
  margin-right:35%;
  font-family: cursive;
  color:rgb(216, 211, 211);
}

.links-2{
  position: absolute;
  margin-top:1%;
  display: flex;
  margin-left: 46.5%;
  gap:6%;
}